In [1]:
import pandas as pd
df = pd.read_csv('../data/銷售數量2017.txt', sep="\t")

In [2]:
df.describe()

               原始店號            日期            時間          商品代號          銷售數量
count  1.396881e+06  1.396881e+06  1.396881e+06  1.396881e+06  1.396881e+06
mean   6.005215e+03  2.017068e+07  1.354761e+05  3.237401e+06  1.249516e+00
std    3.857010e+03  3.287368e+02  5.934784e+04  1.538470e+06  1.414346e+00
min    1.205000e+03  2.017010e+07  0.000000e+00  6.100100e+05 -2.400000e+02
25%    3.047000e+03  2.017041e+07  8.535900e+04  2.710189e+06  1.000000e+00
50%    5.638000e+03  2.017071e+07  1.329540e+05  2.960085e+06  1.000000e+00
75%    7.651000e+03  2.017093e+07  1.852480e+05  3.430188e+06  1.000000e+00
max    1.223600e+04  2.017123e+07  2.359590e+05  6.160750e+06  6.000000e+02

In [3]:
agged_df = df.groupby(["原始店號", "商品代號", "日期"], as_index=False).agg(["sum"])
print(agged_df)

                            時間 銷售數量
                           sum  sum
原始店號  商品代號    日期
1205  610010  20170101   12959    1
              20170103   80341    1
              20170104   64921    1
              20170105   85317    1
              20170106   94406    1
...                        ...  ...
12236 6160700 20171224  232659    1
              20171227   83607    1
              20171229  223444    1
              20171230  192231    2
              20171231  223509    1

[707091 rows x 2 columns]

In [5]:
dfg = df.groupby(["原始店號", "商品代號", "日期"], as_index=False)

In [7]:
dfg.get_group((1205, 610010, 20170101))

    原始店號        日期     時間    商品代號  銷售數量
32  1205  20170101  12959  610010     1

In [9]:
dfga = dfg.agg(["sum"])

In [10]:
dfga.shape

(707091, 2)

In [14]:
len(list(dfga.index))

707091

In [1]:
from datetime import datetime
datetime_str = "20170101"
datetime_obj = datetime.strptime(datetime_str, "%Y%m%d")
print(datetime_obj)

2017-01-01 00:00:00

In [5]:
datetime_str2 = "20170131"
datetime_obj2 = datetime.strptime(datetime_str2, "%Y%m%d")
delta = datetime_obj2 - datetime_obj
print(delta.days)

30