In [9]:
with open("main.txt", 'r') as f:
    data = f.readlines()

原始店號	商品名稱	商品代號	品番	群番	有效期限	進貨成本	銷售價格	品牌	配別

In [4]:
import pandas as pd
data = pd.read_csv('main.txt', sep="\t")

In [5]:
print(data.head(10))

   原始店號           商品名稱    商品代號  品番  群番 有效期限   進貨成本  銷售價格   品牌    配別
0  1205      和風昆布吻仔魚飯糰  617008   6  61   D1  18.28    32  飯糰屋  41.0
1  1205       日式稻荷味付飯糰  610779   6  61   D1  21.33    35  飯糰屋  41.0
2  1205           肉鬆飯糰  610501   6  61   D1  12.80    23  飯糰屋  41.0
3  1205           鮪魚飯糰  610515   6  61   D1  13.33    25  飯糰屋  41.0
4  1205         鮑菇脆筍飯糰  610010   6  61   D1  13.42    25  飯糰屋  41.0
5  1205  玉米火腿蛋沙拉飯糰（北區）  611834   6  61   D1  14.28    25  飯糰屋  41.0
6  1205        泰式打拋豬飯糰  610533   6  61   D1  16.26    28  飯糰屋  41.0
7  1205       一配鹽蔥燒肉飯糰  611016   6  61   D1  17.14    30  飯糰屋  41.0
8  1205   明太子龍蝦風味飯糰（區）  619937   6  61   D1  17.71    30  飯糰屋  41.0
9  1205          大稻荷飯糰  610674   6  61   D1  17.42    30   飯糰  41.0

In [7]:
data.describe()

,原始店號,商品代號,品番,群番,進貨成本,銷售價格,配別
count,22675.000000,2.267500e+04,22675.000000,22675.000000,22675.000000,22675.000000,18990.000000
mean,5955.400000,2.939147e+06,29.009482,293.766483,74.343202,105.023594,16.501316
std,3832.755365,1.765510e+06,17.663615,176.488083,154.953974,202.392129,16.634130
min,1205.000000,6.100100e+05,6.000000,61.000000,0.000000,0.000000,1.000000
25%,3047.000000,1.530833e+06,15.000000,153.000000,19.430000,32.000000,1.000000
50%,5638.000000,2.461245e+06,24.000000,246.000000,33.670000,50.000000,11.000000
75%,7651.000000,3.370647e+06,33.000000,337.000000,72.800000,99.000000,31.000000
max,12236.000000,6.180136e+06,61.000000,618.000000,4537.000000,6368.000000,91.000000